a[href] {

    background-color: rgb(91, 91, 91);
}
a[href="https://tlg-23-10-sde-4.github.io/Favorite-things/"]
{
    color: blue;
    background-color: rgb(168, 115, 46);
}
p[class] {
    background-color: rgb(135, 222, 180);
    color: rgb(17, 42, 17);
}
p[class="lorem"] {
    color: black;
    background-color: burlywood;
}
p[id] {
    color: red;
    background-color: greenyellow;
}

h1[class="class"] {
    color: black;
    background-color: rgb(153, 152, 152);
    padding: 5px;
    font-style: italic;
}
h1[id="ID"] {
    color: black;
    background-color: rgb(153, 152, 152);
    padding: 5px;
    font-style: oblique;
}
html {
    background-image: url(https://images.alphacoders.com/109/109771.jpg) ;
}
h1[id="header"] {
    font-size: xx-large;
    background-color: grey;
}
h1[id="links"] {
    background-color: whitesmoke;
}
a:hover {
    color: red;
    background-color: white;
    padding: 2px;
}
article > p{
    text-align: center;
    font-size: larger;
}
article > p > a{
    color: rgb(144, 218, 32);
    font-size: x-large;
}
h1[id~="Nested"] {
    color: black;
    background-color: white;
}
h1:hover[class] {
    background-color: black;
    padding: 2px;
    color: white;
}
